- page_title _('Pipelines'), "#{@commit.title} (#{@commit.short_id})", _('Commits')
- add_page_specific_style 'page_bundles/pipelines'

= render 'commit_box'
= render 'ci_menu'
= render 'projects/commit/pipelines_list', endpoint: pipelines_project_commit_path(@project, @commit.id)

- if can_collaborate_with_project?(@project)
  = render "projects/commit/change", type: 'revert', commit: @commit, pajamas: true
  = render "projects/commit/change", type: 'cherry-pick', commit: @commit, pajamas: true
